.body-two {
    background:linear-gradient(#000000, #2E333A, #2E333A);
    padding: 41px 55px 69px 55px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.sign-in-form-div {
    width: 321px;
    box-shadow: 4px 4px 26px 0px #000000, -4px -4px 17px -9px #ffffff;
    border-radius: 17px;
    padding: 32px;
    background-color: #2E333A;
}

.sign-in-form-head {
    margin-bottom: 34px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #0ED2F6;
}

.field-tile {
    width: auto;
    margin-bottom: 30px;
}

.field-title {
    color: #0ED2F6;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-field-div {
    padding: 8px 14px;
    margin-top: 5px;
    border-radius: 7px;
    background-color: #2E333A;
    border: 1px solid #00000000;
    box-shadow: inset 3px 3px 4px 0px #000000, inset -3px -3px 4px -3px #B2C2CB;
}

.text-field-div:focus-within {
    border: 1px solid #0ED2F6;
}

.text-field-div input {
    padding: 0;
    background-color: #2E333A;
    border: none;
    caret-color: #B2C2CB;
    color: #B2C2CB;
    width: 100%;
}

.text-field-div input:focus {
    outline: none;
}

/* Password */
.passs {
    display: flex;
    justify-content: space-between;
}

.text-field-div img {
    width: 20px;
    height: 20px;
}

.forgot-pass {
    color: #0ED2F6;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.sign-in-button-div {
    display: flex;
    justify-content: center;
}

.sign-in-button-div button {
    padding: 7px 20px;
    color: #0ED2F6;
    font-weight: 600;
    border: 1px solid #0ED2F6;
    background-color: #2E333A;
    box-shadow: 4px 4px 12px 0px #000000, -4px -4px 12px -9px #ffffff;
    border-radius: 8px;
    font-size: 16px;
}








