.left-navbar {
    height: 658px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 17px 17px;
    margin: 34px 0;
    border-radius: 8px;
    box-shadow: 3px 3px 8px 1px #000000, -3px -3px 4px -3px #B2C2CB;
}

.left-navbar-child {
    cursor: pointer;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 3px 3px 4px 0px #000000, -3px -3px 4px -3px #B2C2CB;
}

.current {
    box-shadow: inset 3px 3px 4px 0px #000000, inset -3px -3px 4px -3px #B2C2CB;
}

.exit-button {
    margin-top: 32px;
}





